version: 2.1
orbs:
  architect: giantswarm/architect@5.15.0

workflows:
  build-awscli-tar-default:
    jobs:
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          git-tag-prefix: awscli-tar
          tag-suffix: -giantswarm
          image: giantswarm/awscli-tar
          dockerfile: ./awscli-tar/default.dockerfile
          build-context: awscli-tar
          filters:
            tags:
              only: "/^awscli-tar.*/"
            branches:
              ignore: "main"
