version: 2.1
orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  build-calico-crd-installer-default:
    jobs:
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          git-tag-prefix: calico-crd-installer
          image: giantswarm/calico-crd-installer
          dockerfile: ./calico-crd-installer/default.dockerfile
          build-context: calico-crd-installer
          filters:
            tags:
              only: "/^calico-crd-installer.*/"
            branches:
              ignore: "main"
