version: 2.1
orbs:
  architect: giantswarm/architect@5.15.0

workflows:
  build-eventrouter-default:
    jobs:
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          git-tag-prefix: eventrouter
          tag-suffix: -giantswarm
          image: giantswarm/eventrouter
          dockerfile: ./eventrouter/default.dockerfile
          build-context: eventrouter
          filters:
            tags:
              only: "/^eventrouter.*/"
            branches:
              ignore: "main"
