version: 2.1
orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  build-hyperkube-default:
    jobs:
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          git-tag-prefix: hyperkube
          image: giantswarm/hyperkube
          dockerfile: ./hyperkube/default.dockerfile
          build-context: hyperkube
          filters:
            tags:
              only: "/^hyperkube.*/"
            branches:
              ignore: "main"
