version: 2.1
orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  build-module-a-default:
    jobs:
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          git-tag-prefix: module-a
          image: giantswarm/laszlo-monorepo-module-a
          dockerfile: ./module-a/default.dockerfile
          build-context: module-a
          registries-data: |-
            private gsociprivate.azurecr.io ACR_GSOCIPRIVATE_USERNAME ACR_GSOCIPRIVATE_PASSWORD true
          filters:
            tags:
              only: "/^module-a.*/"
            branches:
              ignore: "main"
