version: 2.1
orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  build-node-exporter-default:
    jobs:
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          git-tag-prefix: node-exporter
          tag-suffix: -giantswarm
          image: giantswarm/node-exporter
          dockerfile: ./node-exporter/default.dockerfile
          build-context: node-exporter
          filters:
            tags:
              only: "/^node-exporter.*/"
            branches:
              ignore: "main"
