version: 2.1
orbs:
  architect: giantswarm/architect@5.15.0

workflows:
  build-squid-default:
    jobs:
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          git-tag-prefix: squid
          tag-suffix: -giantswarm_gs1
          image: giantswarm/squid
          dockerfile: ./squid/default.dockerfile
          build-context: squid
          filters:
            tags:
              only: "/^squid.*/"
            branches:
              ignore: "main"
