version: 2.1
orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  build-vpa-certgen-ci-images-default:
    jobs:
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          git-tag-prefix: vpa-certgen-ci-images
          tag-suffix: -openssl
          image: giantswarm/vpa-certgen-ci-images
          dockerfile: ./vpa-certgen-ci-images/default.dockerfile
          build-context: vpa-certgen-ci-images
          filters:
            tags:
              only: "/^vpa-certgen-ci-images.*/"
            branches:
              ignore: "main"
